<% layout("layouts/boilerplate") %>

    <link rel="stylesheet" href="/css/error.css">

    <body>

        <br>
        <div class="alert alert-danger" role="alert">
            <%=  err.message %>
          </div>

    </body>
