<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>

    <h1>Create New Listing</h1>

    <form method="POST" action="/listings">

        <input type="text" name="title" placeholder="Enter Title" id="" >
        <br>
        <input type="text" name="description" placeholder="Enter Description" id="" >
        <br>
        <input type="text" name="image" placeholder="Enter Image" id="" >
        <br>
        <input type="text" name="price" placeholder="Enter Price" id="" >
        <br>
        <input type="text" name="country" placeholder="Enter Country" id="" >
        <br>
        <input type="text" name="location" placeholder="Enter Location" id="" >
        <br>

        <button>ADD</button>

    </form>
    
</body>
</html>
